<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
           contact us
        </title>
        <link rel="stylesheet" href="hostel.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
            </head>

        <body>
            <div class="head">
                <nav class="navbar navbar-expand-lg navbar-dark"> 
                    <a href="#" class="navbar-brand">
                        <img src="C:\Users\Acer\OneDrive - Softwarica College\Desktop\chhatrabas\chhatra\statics\img\logo.png" height="50" alt="CoolBrand">
                       
                    </a> 
                    <a class="navbar-brand" href="#" style="font-size: 50px;color: aliceblue; font-family:'Brush Script MT',cursive;">Chhatrabas</a>  
                   
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">  
                     <span class="navbar-toggler-icon"></span>  
                    </button>  
                    <div class="collapse navbar-collapse " id="collapsibleNavbar">
                        <div class="container justify-content-center">
                     <ul class="navbar-nav">  
                        <li class="nav-item " >  
                            <a class="nav-link"  id="btn" onclick="myFunction(id)" style="color: aliceblue;">About us</a>  
                           </li>  
                           <li class="nav-item">  
                            <a class="nav-link" id="btn1" href="#" onclick="myFunction(id)" style="color: aliceblue;">Hostel</a>  
                           </li>  
                           <li class="nav-item">  
                            <a class="nav-link" id="btn2" href="#" onclick="myFunction(id)" style="color: aliceblue;">Blog</a>  
                           </li>    
                           <li class="nav-item">  
                             <a class="nav-link"  id="btn3" href="#"  onclick="myFunction(id)" href="#" style="color:red;">Contact</a>  
                            </li>    
                          </ul>
                     </div> 
                </nav>
            </div>
                <div class="contact-section">
                    <div class="contact-info">
                        <div><i class="fas fa-map-marker-alt"></i>Address,City,Country </div>
                        <div><i class="fas fa-envelop"></i>contact@gmail.com </div>
                        <div><i class="fas fa-phone"></i>9876543210 </div>
                        <div><i class="fas fa-clock"></i>Mon-Fri </div>
                    </div>

                </div>
            
        </body>
</html>