{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">   
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
   </head>
<body>
  <div class="container">
    {% comment %} <form method="post" enctype="multipart/form-data" action="{% url 'home:registrationhostel' %}"> {% endcomment %}

    {% comment %} {% csrf_token %}  {% endcomment %}
    <div class="gradient">

    </div>
    <div class="picture">
      
    </div>
    <div class="title font-weight-bold py-3">Create Your Chhatrabas Hostel Account</div>

    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Hostel name</span>
            <input type="text" placeholder="Hostel Name" required>
          </div>
          <div class="input-box">
            <span class="details">Location</span>
            <input type="text" placeholder="Location" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" placeholder="Enter your number" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" placeholder="Enter your password" required>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="password" placeholder="Confirm your password" required>
          </div>
        </div>
        <div class="hostel-details">
            <label for="formFileMultiple" class="form-label">Attach Documents</label><br>
            <input class="form-control" type="file" id="formFileMultiple" multiple />
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
        <p>Already registered?&gt; <a href="Login1">Login here</a></p>
      </form>
    </div>
  </div>

</body>
</html>